

p {
  font-size: 15px;
  line-height: 25px;
}

section {
  padding: 25px 0 35px;
  background: #fff;
}

body { 
  position: relative; /* we need this for the scrollspy */ 
  font-size: 14px;
}

a { color: #DCC6D6; }

a:hover { color: #F7E8E1;
  text-decoration: none;
border-bottom: 2px solid #0A134F;
padding-bottom: 1px;}
nav li{

  font-size: 20px;
  padding: 0px;
  margin: -10px 0px 0px 0px;
  
}
ul.navbar{
  list-style-type: none;
}
nav ul li{
  padding-right: 30px;
}
.navlink{
  margin-left: -50px;
}
.navbar-brand{
  margin-bottom: 10px;
}
.about-list{
  display: block;
}
#learning-nav{
  margin-left:0px !important;
}
/*.fixed-navbar {
  background-color:#c9acc1;
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  z-index: 1;
  width: 100%;
  height: 6%;
  margin: 0 auto;
}
.fixed-navbar ul {
width: 100%;
padding: 10px;
}
.fixed-navbar li{
  list-style: none;
  width: 16.66%;
  border-right: 2px solid gray;
  

}*/
/*----------
  NAV
----------*/
/*
.fixed-side-navbar {
  width: 10%;
  background: transparent;
  position: absolute;
  top: 0;
  left:0;
  z-index: 99999; 
  margin-top: -100px; 
  text-align: right;
  padding: 30px 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.fixed-side-navbar:hover {
  background: transparent;
}
.fixed-side-navbar:hover .nav > li > a > span {
  color:  #575454;
  display: block;
  background-color: #DCC6D6;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  padding: 2px 12px;
  border-radius: 15px;
}
.fixed-side-navbar .nav > li a.active {
  background-color: transparent;
  color: black;
}
.fixed-side-navbar .nav > li a.active:after {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.fixed-side-navbar .nav > li a.active:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 17px;
  margin-top: -8px;
  width: 16px;
  height: 16px;
  background: transparent;
  border: 2px solid #c9acc1;;
  border-radius: 10px;
}

*/
.fixed-navbar .nav > li a {
  color: #575454;
  font-weight: 600;
  font-size: 14px;
  min-height: 32px;
  background: transparent;
  margin-right: 3%;

 
  border-right: none; 
}/*
.fixed-side-navbar .nav > li a span {
    display: none; 
  -webkit-transition: all .2s;
  transition: all .2s;
}
.fixed-side-navbar .nav > li a:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: rgba(250, 250, 250, 0.75);
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
}*/
.fixed--navbar .nav > li a:hover {
  background-color: transparent;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-color: black;
  border-right: 0;
}
.fixed-navbar .nav > li a:hover > span {
  color: black;
  display: block;
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}


.primary-button a {
  display: inline-block;
  background-color: #DCC6D6;
  padding: 15px 24px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 11px;
  color: #0A134F;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 0.5px;
}

.primary-button {
  display: inline-block;
  background-color: #DCC6D6;
  padding: 15px 24px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 11px;
  color: #0A134F;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 0.5px;
}

/*********** Banner*********/
.parallax-content {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
}
.main-banner {
  position: relative;
  max-height: 100%;
  overflow: hidden;
  margin-bottom: -7px;
  margin-top: -50px;
}

#bg-video {
    min-width: 100%;
    min-height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    object-fit: cover;
    z-index: -1;
}

#bg-video::-webkit-media-controls {
    display: none !important;
}

.video-overlay {
    position: absolute;
    /* background-color: rgba(22,34,57,0.85); */
    top: 0;
    left: 0;
    bottom: 7px;
    width: 100%;
}

.main-banner .caption {
  text-align: center;
  position: absolute;
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.main-banner .caption h6 {
  margin-top: 0px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  color: #F7E8E1;
  letter-spacing: 1px;
}

.main-banner .caption h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 64px;
  text-transform: uppercase;
  font-weight: 800;
  color: #F7E8E1;
  letter-spacing: 1px;
}

.main-banner .caption h2 em {
  font-style: normal;
  color: #DCC6D6;
  font-weight: 900;
}

.baner-content .primary-button {
  margin-top: 15px;
}



.service-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15vh;
  background-image: url("https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fHNwYWNlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60");
  background-attachment: fixed;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  margin-top: -25px;
}

.service-content .left-text h4 {
  font-size: 24px;
  font-weight: 500;
  color: #F7E8E1;
}

h4, .h4 {
  font-size: 18px;
}

.service-content .left-text .line-dec {
  width: 45px;
  height: 3px;
  background-color: #214580;
  margin: 20px 0px 20px 0px;
}

.service-content .left-text p {
  color: #F7E8E1;
}

.service-content .left-text ul {
  padding: 0;
  margin-top: 30px;
  list-style: none;
}

.service-content .left-text ul li {
  margin: 15px 0px;
  font-weight: 600;
  color: #F7E8E1;
}

.service-content .left-text .primary-button {
  margin: 30px 0px;
}

.service-content .service-item {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 25px 30px;
  text-align: center;
  color: #F7E8E1;
  margin-bottom: 30px;
}

.service-content .service-item .line-dec {
  width: 45px;
  height: 3px;
  background-color: #214580;
  margin: 20px auto 15px auto;
}



.projects-content {
  padding-top: 20vh;
  background-image: url("https://images.unsplash.com/photo-1446776811953-b23d57bd21aa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8c3BhY2V8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60");
}

.projects-content .item img {
  width: 100%;
}

.projects-content .item {
  margin: 15px;
}

.projects-content .item .text-content {
  background-color: #F7E8E1;
  height: 300px;
  text-align: center;
  padding: 20px;

}

.projects-content .item .text-content h4 {
  margin-top: 0px;
  font-size: 19px;
  font-weight: 600;
}

.projects-content .item .text-content span {
  font-style: normal;
  font-size: 17px;
  font-weight: 700;
  color: #0A134F;
  margin-bottom: 30px;
}

.owl-pagination {
  margin-top: 40px;
  opacity: 1;
  display: inline-block;
}

.owl-page span {
  display: block;
  width: 14px;
  height: 14px;
  margin: 0px 5px;
  filter: alpha(opacity=50);
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #F7E8E1;
}


.tabs-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8vh;
  background-image: url(../img/4th-section.jpg);
  background-attachment: fixed;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
}

section {
  background-color: transparent;
  padding-bottom: 15px;
}

.wrapper {
  text-align: center;
}

.tabs {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.tabs li {
  display: inline-block;
  text-align: center;
  margin: 10px;
}

.tabs a {
  display:block;
  text-align:center;
  text-decoration:none;
  text-transform:uppercase;
  color:#F7E8E1;
  font-size: 14px;
  font-weight: 700;
  padding:10px 15px;
  border:4px solid #F7E8E1;
}

.tabs a:hover {
  color: #DCC6D6;
}

.tabs .active {
  border:4px solid #DCC6D6;
}

/* .tabgroup div  {

} */

.tabgroup p {
  background-color: rgba(0, 0, 0, 0.5);
  color: #F7E8E1;
  padding: 25px;
}

.clearfix:after {
  content:"";
  display:table;
  clear:both;
}


.contact-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 16vh;
  background-image: url(../img/5th-section.jpg);
}

.contact-form {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px 25px;
  margin-bottom: 30px;
}

#contact input {
  border-radius: 3px;
  padding-left: 15px;
  font-size: 13px;
  color: #232323;
  background-color: rgba(250, 250, 250, 1);
  outline: none;
  border: none;
  box-shadow: none;
  line-height: 50px;
  height: 50px;
  width: 100%;
  margin-bottom: 30px;
}

#contact textarea {
  border-radius: 3px;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 13px;
  color: #232323;
  background-color: rgba(250, 250, 250, 1);
  outline: none;
  border: none;
  box-shadow: none;
  height: 165px;
  max-height: 220px;
  width: 100%;
  margin-bottom: 25px;
}

#contact button {
  display: inline-block;
  background-color: #DCC6D6;
  padding: 15px 24px;
  width: 100%;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 11px;
  color: #0A0C17;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 0.5px;
}

.map {
  margin-bottom: 30px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px 20px;
}



footer {
  text-align: center;
  background-color: #0A0C17;
  padding: 70px 0px;
}

footer .primary-button {
  margin-bottom: 30px;
}

footer ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

footer ul li {
  display: inline-block;
  margin: 0px 4px;
}

footer ul li a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  background-color: #DCC6D6;
  color: #0A134F;
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.5s;
  font-size: 17px;
}

footer ul li a:hover {
  color: #282b2f;
  background-color: #214580;
}

footer p {
  font-size: 12px;
  color: #F7E8E1;
  margin-top: 15px;
  color: #F7E8E1;
  letter-spacing: 0.5px;
  margin-bottom: 0px;
}

footer em {
  color: #DCC6D6;
  font-weight: 600;
  font-style: normal;
}

@media (max-width: 767px){
  
  .baner-content {
    padding-top: 30vh;
  }

  .baner-content h1 {
    font-size: 64px;
  }

  /* .baner-content em {
  } */

  .baner-content span {
    font-size: 24px;
  }

  .baner-content .primary-button {
    margin-top: 15px;
  }

  .service-content {
    padding-top: 5vh;
    text-align: center;
  }

  .service-content .left-text .line-dec {
    width: 45px;
    height: 3px;
    background-color: #ff7d27;
    margin: 20px auto 20px auto;
  }

  .service-content .left-text ul {
    text-align: left;
  }

  .service-content .service-item {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 25px 30px;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
  }

}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

/* LIGHT BOX */

body:after {
  content: url(../img/close.png) url(../img/loading.gif) url(../img/prev.png) url(../img/next.png);
  display: none;
}

body.lb-disable-scrolling {
  overflow: hidden;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;

  /* Image border */
  border: 4px solid white;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;

  /* Background color behind image.
     This is visible during transitions. */
  background-color: white;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../img/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../img/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../img/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #F7E8E1;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-caption a {
  color: #4ae;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../img/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}


.learningheader ul li {
  padding: 1.2% 0;
  width: 33%;
  display: inline-block;
  padding-left: 12%;
}
.planet{  
  margin-left: 3%;
  width: 90%;
  height: 40em;
}

div.service-item{
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
/*Constellations*/
#canvas{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.planetcontainer,
.firstplanet p {
  padding: 2%;
}
.firstplanet h1 {
  text-align: center;
}
.bigplanetcontainer,
.bigcontainer {
  display: flex;
  flex-wrap: wrap;
}
.littleplanetcontainer,
.galaxycontainer,
.factcontainer{
  width: 48%;
  min-height: 20em;
  max-height:50em;
  margin: 10px;
  padding: 2%;
  border:2px solid #232323;
  background-color: #282B2F;
  border-radius: 50px;
  text-align: center;
}
.galaxyfooter{
  margin-top: 2.3%;
}
.galaxycontainer{
  margin: 0 auto;
}
.learningheader{
  position: relative;
  z-index: 1;
  padding-top:3%;
}
.littleplanetcontainer > img{
  width:70%;
}
.factimage {
  max-width: 55%;
  max-height: 20em;
}
.planetinfo,
.factinfo {
  padding: 1.2% 0;
  width: 96%;
}
.littleplanetcontainer h1 {
  font: 700 43px/50px;
}
.planetpage,
.learningpage,
.galaxypage {
  background-color: #0A0C17;
  color: #999999;
}
.learning-header {
  margin: 0 auto;
  padding-bottom: 2%;
  width: 100%;
  height: 2%;
  text-align: center;
}
.firstfact {
  margin-top: 2%;
}
.secondfact{
  margin-top: 1.6%;
}
.learningsection,
.planetcontent {
  margin-left: 2%;
}

.aboutuspage {
  padding: 2%;
  overflow: auto;
}
.aboutus-wholepage {
  background-color: #0A0C17;
  color: #DCC6D6;
}
.aboutusitem{
  width: 50%;
  float: left;
}
.aboutusitem p {
  width: 60%;
}

.linksaboutus{
  list-style-type: none;
  margin:0;
  padding:0;
}
.linksaboutus li {
  float: left;
  width: 14%;
  color:hotpink;
}
.linksaboutus a:hover {
  color: #fff;
}

#main {
  text-align: center;
}

.unsupported {
  font-family: Helvetica;
  color: #F44;
}

#canvas-container{
  width: 100%;
  display: table;
  height: 100vh;
  color: #F7E8E1;
  text-align: center;
}

#planicanvas{ 
 width: 60% ;
 max-width: 1000px;
 min-width: 800px;
 height:60%;
 margin: auto;
 margin-top: 25px;
}

.black-background{
  background-color: #0A0C17;
}

#white-circle {
  background: white;
  border-radius: 50%;
  width: 60%;
  max-width: 990px;
  min-width: 795px;
  left: 0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  margin-top: -135px;
  z-index: -1;
}

#white-circle::before{
  content:'';
  display: block;
  padding-bottom: 100%;
  width: 60%;
}

/*constellation facts*/
.quotes {display: none;}

.testimonials-item{
  height: 400px;
}
/*adding font */
h1{
  font-family: 'Roboto Mono', monospace;;
  font-size: 60px;
}
h2{
  font-family: 'Roboto Mono', monospace;
  font-size: 36px;
}
p{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
.launch-item{
  background: rgba(255, 255, 255, 0.671);
box-shadow: 0 8px 32px 0 rgba(217, 219, 243, 0.37);
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba(165, 85, 85, 0.18);
margin: 10px;
}
.launch-text-content{
  text-align: center;
}
#launch-title{
  z-index: 3;
  text-align: center;

  color: #F7E8E1;
}

/*constellation facts*/
#constellation-facts{
  width: 75%;
  margin: auto;
  padding-top: 25px;
  padding-bottom: 25px;
}
const-ul{
  list-style-type: none;
  padding: 0;
}
.cfacts {
  padding-left: 1.3em;
  display: inline;
  font-family: 'Roboto Mono', monospace;
  font-size: 32px;
}
li.cfacts:before {
  content: "\f699"; /* FontAwesome Unicode */
  font-family: 'FontAwesome';
  font-weight: 900;
  display: inline;
  margin-left: -1.3em;
  width: 1.3em;
}

#user_conlab{
  margin: 20px;
}
#launches-footer{
  margin-top:-200px;
}
